html, body{
	margin: 0;
	padding: 0;
}
.container{
	max-width: 100%;
	min-width: 320px;
}
.header{
	background-color: orange;
	padding: 10px 0;
	text-align: center;
}
.footer{
	background-color: yellowgreen;
	padding: 10px 0;
	text-align: center;
}
.content{
	margin: 10px 20px;	
}
.content__left, .content__right, .content__center{
	padding: 20px;
	background: yellow;
	box-sizing: border-box;
	margin: 10px 0; 
}
	











