*{
	margin: 0;
	padding: 0;
}

.container{  
	min-width: 1024px;
	margin: 0 auto;
	padding: 50px 20px;
	box-sizing: border-box;	
}

.grid{   /* грид-контейнер */
	display: inline-grid;
    grid-template-columns: 200px min-content max-content;
}

.element{   /* грид-элементы */
	background: #f00;
	color: #fff;
	padding: 20px;
	border-radius: 20px;
	text-align: center;
	border: 1px solid #000;
}